.title {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2rem;

  div {
    height: 500px;
    width: 250px;
    background: red;
  }
}
