.nav {
  font-size: var(--font-large);

  ul {
    list-style: none;

    li {
      cursor: pointer;
      display: inline-block;
      margin: 1.5rem;
      transition: all 0.4s ease;

      &:hover {
        color: var(--color-light-hover);
      }
    }
  }
}
