.nav {
  font-size: var(--font-large);

  .loggedIn {
    display: none;
  }

  ul {
    list-style: none;

    li {
      cursor: pointer;
      text-transform: capitalize;
      display: inline-block;
      margin: 1.5rem;
      transition: all 0.4s ease;

      display: inline-block;
      padding-bottom: 2px;
      background-image: linear-gradient(var(--color-light) 0 0);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 2px;
      background-repeat: no-repeat;
      transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/

      &:hover {
        color: var(--color-light-hover);

        background-position: 100% 100%; /*OR bottom right*/
        background-size: 100% 2px;
      }

      .active {
        color: var(--color-light-hover);
        border-bottom: 2px solid currentColor;
      }
    }
  }
}
