.guitar-form {
  min-width: 60rem;
  padding: 2rem;
  border-radius: 5px;
  background: var(--color-light-3);
  font-size: var(--font-normal);

  ::placeholder {
    font-family: inherit;
    font-style: italic;
  }

  textarea {
    font-family: inherit;
  }

  .title {
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: var(--font-large);
    font-weight: 500;
    font-style: inherit;
    letter-spacing: 2px;
  }

  .type-select * {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
  }

  .errorContainer {
    margin-left: 1rem;

    .errorMessage {
      color: red;
      font-style: italic;
      margin: 1rem 0;

      &::before {
        content: '*';
        margin-right: 1px;
      }

      &::after {
        content: '.';
      }
    }
  }

  .cta {
    margin: 2rem 1rem 0;

    display: flex;
    justify-content: space-between;

    button:first-child {
      background: var(--color-success);
      color: var(--color-white);

      &:hover {
        background: var(--color-success-hover);
      }
    }

    button:nth-child(2) {
      background: var(--color-light);

      &:hover {
        background: var(--color-light-hover);
      }
    }

    * {
      height: auto;
      cursor: pointer;
      border: none;
      transition: all 0.4s ease;

      padding: 1rem 3rem;
      border-radius: 5px;
    }
  }
}
