.deleteBtn {
  padding: 1rem 2rem;
  border-radius: 5px;
  background: var(--color-danger);
  color: var(--color-white);
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--color-danger-hover);
  }
}
