:root {
  --body-bg: #f0f9ff;
  --color-white: #fff;
  --color-black: #020617;

  --color-dark: #1e293b;
  --color-dark-hover: #334155;

  --color-light: #d6d3d1;
  --color-light-hover: #f5f5f4;

  --font-main-heading: 2.6rem;
  --font-large: 1.6rem;
  --font-normal: 1.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* 10px = 1rem  */
  font-size: 62.5%;
}

body {
  background: var(--body-bg);
}

h1 {
  font-size: var(--font-main-heading);
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: inherit;
}

button {
  font-size: var(--font-normal);
  font-style: inherit;
  cursor: pointer;
}
