.card {
  border: 1px solid var(--color-light);
  border-radius: 5px;
  transition: all 0.6s ease;
  background: var(--color-light-2);

  &:hover {
    transform: scale(1.015);
  }

  .image {
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: center center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .description {
    position: relative;
    padding: 1rem;

    p {
      margin: 1rem;
    }

    span {
      font-weight: 600;
    }

    .sold,
    .available {
      position: absolute;
      border-radius: 5px;
      font-weight: 500;
      top: 1rem;
      right: 1rem;
      padding: 4px 8px;
      color: var(--color-white);
    }

    .sold {
      background: var(--color-danger);
    }

    .available {
      text-transform: uppercase;
      background: var(--color-success);
    }
  }
}
