.login-form {
  padding: 2rem;
  border-radius: 5px;
  width: 40rem;
  background: var(--color-light-3);
  font-size: var(--font-normal);

  .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: var(--font-large);
  }

  .errorMessage {
    padding-left: 1rem;
    color: var(--color-danger);
  }

  button {
    margin: 1rem 0 0 1rem;
  }
}
