.input-group {
  font-size: var(--font-normal);
  margin: 1rem;
  display: flex;
  flex-direction: column;

  label {
    margin: 5px 0;
    text-transform: capitalize;

    &:after {
      content: ':';
      margin-left: 0.5px;
    }
  }

  input,
  textarea {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: inherit;
  }

  textarea {
    font-style: inherit;
    resize: none;
    height: 20rem;
  }

  .error {
    border: 1px solid red;
  }
}
