.hero {
  background: var(--color-black);

  padding-bottom: 10rem;

  min-height: 15rem;
}

.header {
  position: relative;

  .outer {
    position: absolute;
    z-index: 1;
    width: 100%;

    .inner {
      padding: 1rem;
      color: var(--color-light);
      background: rgba(0, 0, 0, 0.802);

      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        align-items: center;
      }

      h1 {
        letter-spacing: 2px;
      }
    }
  }
}
